.newMessage {
    width: 100%;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 90% 10%;
}

.newMessageText{
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.button{
    width: 100%;
    border-radius: 0 10px 10px 0;
}