.app-wrapper {
  display: grid;

  grid-template-areas:
  "h h"
  "n c"
;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
  grid-area: h;
  background-color: chartreuse;

}

.header img{
  /*width: 20px;*/
  height: 40px;
}

.nav{
  grid-area: n;
  background-color: bisque;
}

.content{
  grid-area: c;
  background-color: aqua;
}